

body{
    background: #211F1F;
    padding: 10px;
}
.container{

    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100%;
    background: #211F1F;
    
}
.container>div{
    background-color: black;
    color: black;
    width: 500px;
    height: 550px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.card{
background: white;
margin: 0 auto;
height: 550px;
width: 400px;
border: 1px solid black;
border-radius: 3px;

}
.card-header{
display: flex;
padding: 10px;
height: 25px;
width: 400px;

}
.profile-img{
    display: flex;
    justify-content: center;
    padding: 3px;
    height: 25px;
    width: 20px;
}
.profile-info{
    padding-left: 10px;
    height: 25px;
    width: 50px;
    font-family: 'Open Sans', sans-serif;
    
}
.name{
    font-size: 12px;
}
.location{
font-size: 12px;
}
.profile-img2{
    display: flex;
    justify-content: flex-end;
    height: 25px;
    width: 400px;
    padding-top: 5px;
    padding-right: 30px;
}
.content{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 300px;
}
.media{
    display: flex;
    justify-items: center;
    padding-top: 3px;
    padding-left: 5px;
    padding-top: 3px;
    width: 400px;
    height: 18px;
}
.heart{
    display: flex;
    justify-content: initial;
    height: 25px;
    width: 30px;
    padding: inherit;
    }
.comment-regular{
    display: flex;
    justify-content: initial;
    height: 25px;
    width: 30px;
    padding: inherit;
    }
    .paper-plane{
        display: flex;
        justify-content: initial;
        height: 25px;
        width: 20px;
        padding: inherit;
        }
.guardar{
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 400px;
    padding-right: 20px;
}
.likedby{
    padding: 10px;
    font-size: 13px;
    height: 25px;
    width: 400px;
    font-family: 'Open Sans', sans-serif;

}
.message{
    font-size: 15px;
    display: flex;
    justify-items: initial;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;

}

